.vignette {
  height: 320px;
  border-radius: 50%;
  margin-top: 10px;
  position: relative;
}
@media all and (min-width: 415px) and (max-width: 767px) {
  .vignette {
    height: 460px;
  }
}
@media all and (max-width: 379px) {
  .vignette {
    height: 280px;
  }
}
.vignette .texte,
.vignette .photo {
  -webkit-backface-visibility: hidden;
  /* Permet d'éviter de voir le bloc de dos */
  backface-visibility: hidden;
  /* Permet d'éviter de voir le bloc de dos */
  -webkit-transition: 2s;
  /* For Safari 3.1 to 6.0 */
  transition: 1s;

  border-radius: 50%;
}

.photo {
  position: absolute;
  z-index: 10;
}

.texte {
  position: absolute;
  -webkit-transform: rotateY(-180deg);
  /* Safari */
  transform: rotateY(-180deg);
  /* Celui-ci est retourné par défaut */
  z-index: 20;
}

.vignette:hover .photo,
.vignette:focus .photo {
  -webkit-transform: rotateY(180deg);
  /* Safari */
  transform: rotateY(180deg);
  z-index: 20;
}

.vignette:hover .texte,
.vignette:focus .texte {
  -webkit-transform: rotateY(0deg);
  /* Safari */
  transform: rotateY(0deg);
  /* On passe de -180° à 180° : tour complet */
  z-index: 10;
}

.bg-orange-opacity {
  background-color: rgba(243, 166, 31, 0.5);
}

.btn-primary {
  background-color: rgb(243, 166, 31);
  border: none;
}
.text-wild {
  color: white;
  text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black,
    1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}
